*{
    padding: 0;
    margin: 0 auto;
    font-size: 22px;
}

/* ------------------ Header Section Start ------------------ */

.header img{
    margin-bottom: -8px;
    height: auto;
    width: 100%;
}

/* ------------------ Header Section End ------------------ */

/* ------------------ MAP Section Start ------------------ */

.map{
    height: 1000px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #48605c;
    color: #d9dad7;
}

.map h1{
    margin: 30px auto;
    font-size: 30px;
    word-spacing: 10px;
    letter-spacing: 10px;
    text-shadow: 5px 5px 10px black;
}

.map iframe{
    height:850px;
    width: 1000px;
    box-shadow: -5px 5px 20px black;
    border-radius: 10px;
    transition: 0.5s;
}

/* ------------------ MAP Section End ------------------ */


/* ------------------ Footer Start ------------------ */

footer{
    height: 150px;
    width: 100%;
    background-color: #f5f9ee;
    color: #798269;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .box1{
    position: absolute;
    left: 30px;
    padding: 10px;
    border-radius: 10px;
}

footer .box2{
    position: absolute;
    right: 30px;
    padding: 10px;
    border-radius: 10px;
    text-align: right;
}

footer h1{
    font-size: 20px;
    padding: 5px 0;
}

footer h3{
    font-size: 15px;
    padding: 5px 0;
}

/* ------------------ Footer Start ------------------ */