*{
    padding: 0;
    margin: 0 auto;
    font-size: 22px;
}

/* ------------------ Header Section Start ------------------ */

.header{
    background: linear-gradient(rgba(25,25,25,0.7),rgba(25,25,25,0.7)),url(../images/bg01.jpg);
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1{
    font-size: 65px;
    padding: 15px 40px;
    color: rgba(255, 255, 255, 0.3);
}

.header .logo img{
    height: 150px;
    filter: opacity(40%);
}

/* ------------------ Header Section End ------------------ */


/* ------------------ Timer Start ------------------ */

.time-left{
    background-color: #788759;
    color: #d3eca7;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-left .fa-regular{
    margin: 0 20px 0 0;
}

.time-left h2{
    margin: 0 20px 0 0;
}

.time-left #countdown{
    margin: 0 0 0 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #879c64;
    border-radius: 15px;
    padding: 15px 40px;
}

/* ------------------ Timer End ------------------ */

/* ------------------ Content Start ------------------ */

.content{
    height: 400px;
    background-color: #9ed9c5;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 24px;
    color: #338066;
}

.content .data{
    height: 80px;
    width: 160px;
    background-color: #c7f2e3;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 40px;
}

.content .data:hover{
    box-shadow: -1px 1px 10px;
    transition: 0.3s;
}

/* ------------------ Content End ------------------ */


/* ------------------ Search Box Start ------------------ */

.search-box h2{
    display: inline-block;
    margin: 0;
}

.search-box #search{
    height: 50px;
    width: 400px;
    background: transparent;
    background-color: #bcd390;
    color: #5a6740;
    border: none;
    margin: 0 0 0 20px;
    border-radius: 15px;
    padding: 0 45px 0 25px;
}

.search-box #search:hover{
    background-color: transparent;
    border: 3px solid #afc783;
    border-radius: 15px;
    transition: 0.2s;

}

.search-box{
    background-color: #d3eca7;
    color: #788957;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box .search-icon{
    margin: 0;
    position: relative;
    right: 40px;
}

.search-box #search{
    width: 530px;
}

.search-box h2{
    margin-left: 20px;
}

/* ------------------ Search Box End ------------------ */

/* ------------------ Nav Bar Start ------------------ */

.nav{
    height: 60px;
    background-color: #bcd390;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* ------------------ Nav Bar End ------------------ */

/* ------------------ MAP Section Start ------------------ */

.map{
    height: 500px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #48605c;
    color: #d9dad7;
}

.map h1{
    margin: 30px auto;
    font-size: 30px;
    word-spacing: 10px;
    letter-spacing: 10px;
    text-shadow: 5px 5px 10px black;
}

.map iframe{
    height:350px;
    width: 1050px;
    box-shadow: -5px 5px 20px black;
    border-radius: 10px;
    transition: 0.5s;
}

/* ------------------ MAP Section End ------------------ */


/* ------------------ Footer Start ------------------ */

.footer{
    height: 300px;
    width: 100%;
    background-color: #f5f9ee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #798269;
}

.footer .box{
    height: 230px;
    width: 700px;
    background-color: #f5f9ee;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: -1px 1px 10px;
    border-radius: 10px;
}

.footer h1{
    font-size: 25px;
    padding: 5px 0;
}

.footer h3{
    font-size: 15px;
    padding: 5px 0;
}

/* ------------------ Footer Start ------------------ */